outputs/*
.DS_Store
storage/*
maine_starlink_trip/*
.idea/*
datasets/dev/*
**/__pycache__/*
**/storage/*
datasets/maine_starlink_trip/xcal
datasets/maine_starlink_trip/dish_history
datasets/maine_starlink_trip/dish_metrics
datasets/maine_starlink_trip/raw/**/*.csv
datasets/alaska_starlink_trip/
